.footer {
  background-color: #3c6d98;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footerContent {
  max-width: 800px;
  margin: 0 auto;
}

.StageLinks {
  margin-top: 20px;
}

.StageLinks h3 {
  color: #ffa500; /* Use red for the "Links" header */
  font-weight: bold;
  margin-bottom: 10px;
}

.StageLinks ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.StageLinks li {
  margin: 5px 15px;
}

.StageLinks a {
  color: #fff9f9; /* Light grey for links */
  text-decoration: none;
}

.StageLinks a:hover {
  color: #fff; /* White on hover */
}
