/* Home.module.css */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.textContainer {
  flex: 1;
  padding: 2rem;
  text-align: left;
}


.title {
  font-size: 3rem;
  color: #1a1a1a;
  margin: 0.5rem 0;
}

.subtitle {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;;
  margin-top: 2rem;
}

.learnMoreButton {
  background-color: #0070f3;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.learnMoreButton:hover {
  background-color: #005bb5;
}

.imageContainer {
  flex-shrink: 0;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;

}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .textContainer {
    padding: 1rem;
  }

  .imageContainer {
    width: 100%;
    margin-top: 2rem;
  }
}
