/* Home.module.css */

.container {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Vertically center the items */
  justify-content: space-between; /* Ensure space between the text and image */
  min-height: 80vh; /* Set the minimum height */
  width: 100%; /* Ensure the container takes the full width of the page */
}

.textContainer {
  flex: 1; /* Take up the remaining space on the left */
  padding-left: 2rem; /* Add padding between the text and the left edge */
  text-align: left; /* Ensure text is aligned to the left */
}

.title {
  font-size: 2.5rem;
  color: #1a1a1a;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.learnMoreButton {
  background-color: #0070f3;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learnMoreButton:hover {
  background-color: #005bb5;
}

.imageContainer {
  flex-shrink: 0; /* Prevent the image from shrinking */
  width: 50%; /* Limit the width of the image container */
  display: flex;
  justify-content: flex-end; /* Align the image to the right */
}

.imageContainer img {
  max-width: 1000%;  /* Ensures the image is responsive */
  height: auto;     /* Maintains the aspect ratio */
  
}
