/* components/Navbar.module.css */
.navbar {
  background-color: #3c6d98;
  padding: 12px 30px;
  height: 60px;
  display: flex;
  justify-content: space-between; /* Important for left/right alignment */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #444;
  font-family: 'Roboto', sans-serif;
}

.leftNav {
  display: flex;
  gap: 30px;
}

.rightNav {
  display: flex;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  display: inline;
}

.navbarLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.3s, transform 0.3s ease, padding-bottom 0.3s ease;
}

.navbarLinks a:hover {
  color: #0070f3;
  transform: translateY(-2px);
  padding-bottom: 3px;
}

.navbarButton {
  background-color: #0481ff;
  color: #ffffff;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.navbarButton:hover {
  background-color: #005bb5;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbarButton:active {
  background-color: #004088;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.navbarLinks a,
.navbarButton, .leftNav a {
  transition: all 0.3s ease-in-out;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;

}

.leftNav a:hover{
    color: #0070f3;
    transform: translateY(-2px);
    padding-bottom: 3px;
}