/* NavBar.module.css */

.navbar {
    background-color: #333;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbarLinks {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
  }
  
  .navbarLinks li {
    display: inline;
  }
  
  .navbarLinks a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
  }
  
  .navbarLinks a:hover {
    color: #00bcd4; /* Change color to cyan when hovering */
    text-decoration: underline;
    transform: scale(1.1); /* Slightly scale up the link */
  }
  
  .navbarButton {
    background-color: #0070f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .navbarButton:hover {
    background-color: #005bb5;
    transform: scale(1.05);
  }
  
  .navbarButton:active {
    background-color: #004088;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  