/* src/styles/Dashboard.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px; /* Increased padding for better spacing */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  font-size: 32px; /* Increased title font size */
  font-weight: bold;
  margin-bottom: 25px; /* Increased margin for better spacing */
  color: #333;
}

.projectList {
  list-style-type: none;
  padding: 0;
}

.projectItem {
  padding: 20px; /* Increased padding for better spacing */
  margin-bottom: 20px; /* Increased margin for better spacing */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px; /* Slightly increased border-radius */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Slightly increased box-shadow */
}

.projectItem:hover {
  background-color: #f1f1f1;
}

.projectName {
  font-size: 22px; /* Increased projectName font size */
  font-weight: bold;
  color: #007bff;
}

.projectType {
  font-size: 18px; /* Increased projectType font size */
  color: #555;
  margin-top: 8px; /* Slightly increased margin-top */
}