/* src/styles/Login.module.css */

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    text-align: left;
}

.heading {
    font-size: 36px; /* Increased heading font size */
    font-weight: 600;
    color: #333;
    margin-bottom: 35px; /* Increased margin for spacing */
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Move the createAccountLink above the form */
.formContainer > *:first-child {
    order: -1;
}

.inputGroup {
    width: 100%;
    margin-bottom: 25px; /* Increased margin for spacing */
}

.label {
    display: block;
    font-size: 18px; /* Increased label font size */
    font-weight: 500;
    margin-bottom: 12px; /* Increased margin for spacing */
    color: #4a4a4a;
}

.input {
    width: 100%;
    padding: 16px 20px; /* Increased padding */
    margin-bottom: 30px; /* Increased margin for spacing */
    border: none;
    border-radius: 8px;
    font-size: 18px; /* Increased input font size */
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #f7f7f7;
    height: 52px; /* Added height for visual consistency */
    box-sizing: border-box; /* Added box-sizing to manage padding */
}

.input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button {
    width: 100%;
    padding: 18px 22px; /* Increased button padding */
    background-color: #4f86f7;
    color: white;
    border: none;
    font-size: 20px; /* Increased button font size */
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 25px; /* Increased margin for spacing */
}

.button:hover {
    background-color: #3b69c4;
    transform: translateY(-2px);
}

.createAccountLink {
    margin-top: 5px; /* Adjusted margin for spacing */
    margin-bottom: 25px; /* Increased margin for spacing */
    font-size: 17px; /* Increased createAccountLink font size */
    color: #777;
    text-align: left;
    display: flex;
    align-items: center;
}

.createAccountLink p {
    margin-bottom: 0;
    margin-right: 10px; /* Increased margin for spacing */
}

.link {
    display: inline;
    padding: 0;
    background-color: transparent;
    color: #4f86f7;
    font-weight: normal;
    text-decoration: none;
    border-radius: 0;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 17px; /* Increased link font size */
}

.link:hover {
    color: #3b69c4;
    text-decoration: underline;
}

.success,
.error {
    color: #28a745;
    font-size: 17px; /* Increased message font size */
    margin-top: 20px; /* Increased margin for spacing */
    text-align: center;
}

.error {
    color: #dc3545;
}